.container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0;
}

.container-justify {
    justify-content: center;
}

.container-align {
    align-items: center;
}

.container-dark{
    background-color: var(--rich-black-fogra-39);
    border-color: var(--almond);
}

.container-light{
    background-color: var(--almond);
    border-color: var(--rich-black-fogra-39)
}

.container-gunmetal{
    background-color: var(--gunmetal);
    border-color: var(--almond);
}

.container-light-brown{
    background-color: var(--khaki-web);
    border-color: var(--rich-black-fogra-39)
}

.container-dark-brown{
    background-color: var(--umber);
    border-color: var(--almond);
}

.container-m4{
    margin: 4px
}

.container-p4{
    padding: 4px
}

.container-br2{
    border-right-width: 2px;
}

.container-bl2{
    border-left-width: 2px;
}

.container-b4{
    border-width: 4px;
}

.container-bt4{
    border-top-width: 4px;
}

.container-br4{
    border-right-width: 4px;
}

.container-bb4{
    border-bottom-width: 4px;
}

.container-bl4{
    border-left-width: 4px;
}

.container-bnt4{
    border-width: 0 4px 4px 4px;
}

.container-bnb4{
    border-width: 4px 4px 0 4px
}

.container-row{
    flex-direction: row;
}