
.text-x-small {
    font-size: 10px;
}

.text-small {
    font-size: 12px;
}

.text-medium {
    font-size: 14px;
}

.text-large {
    font-size: 16px;
    
}

.text-x-large {
    font-size: 20px;
    
}

.text-bold {
    font-weight: bold;
}

.text-light {
    color: var(--almond);
}

.text-dark {
    color: var(--rich-black-fogra-39);
}

.text-outline {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    
}