.scroll-box {
    overflow-y: auto;
    font-size: 12px;
    background-color: var(--almond);
    flex-grow: 1;
}

.scroll-box > div {
    box-sizing: border-box;
    border: 2px solid var(--almond);
    border-left-width: 4px;
    border-right-width: 4px;
}