* {
  margin: 0;
  padding: 0;
}
:root{
--rich-black-fogra-39: #0a0908ff;
--gunmetal: #22333bff;
--almond: #eae0d5ff;
--khaki-web: #c6ac8fff;
--umber: #5e503fff;
}

body {
  font-family: 'Courier New', monospace;
  font-size: 16px;
  background-color: var(--rich-black-fogra-39);
  color: var(--almond);
}

#game-container {
  display: flex;
  flex-direction: column;
  margin : 1rem auto;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

